---
import { CldUploadWidget, CldImage } from "astro-cloudinary"
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"

import { getCollection } from "astro:content"
const images = await getCollection("assets")
console.log( images )
---
<Layout title="Cloudinary Hackathon">

    <Section id="editor">
      <h1 class="font-creepster text-4xl text-text font-bold mb-5">asdgasdg</h1>
      <p class="text-text">Usa esta herramienta para disfrazar personas o mascotas y darles un toque de Halloween."</p>
      <p class="text-text mb-6">
        Instrucciones Breves:

    Paso 1: Sube una foto desde tu dispositivo o toma una en tiempo real.
    Paso 2: Selecciona un disfraz y arrástralo para colocarlo sobre la persona o mascota.
    Paso 3: Cambia el fondo para completar la escena.
    Paso 4: Guarda tu imagen y compártela con tus amigos.
      </p>
      <CldUploadWidget
        id="upload-widget"
        uploadPreset="upload-unsigned-images"
      >
        <button class="bg-accent text-bg p-4 rounded-full cursor-pointer inline-flex items-center justify-center font-creepster">
          Sube tu imagen
        </button>
      </CldUploadWidget>
      <ul>
        {
          images.map((image) => {
            return (
              <li>
                <a href={`/photo?id=${image.data.public_id}`}>
                  <CldImage
                    src={image.data.public_id}
                    width={250}
                    height={250}
                    crop={{
                      type: "fill",
                      source: true,
                    }}
                  />
                </a>
              </li>
            )
          })
        }
      </ul>
    </Section>
      
  
    <script>
      import { navigate } from "astro:transitions/client"
  
      const widget = document.getElementById("upload-widget")
  
      if (widget) {
        widget.addEventListener("clduploadwidget:success", ((
          e: CustomEvent<{ info: { public_id: string } }>
        ) => {
          const publicId = e.detail.info.public_id
          navigate(`/photo?id=${publicId}`)
        }) as EventListener)
      }
    </script>
  </Layout>