---

import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import Illustration from "../media/Illustration.astro"
import LofiSkull from "../media/LofiSkull.astro"
import Ghost from "../media/Ghost.astro"
import LofiStar from "../media/LofiStar.astro"
import LofiStar2 from "../media/LofiStar-2.astro"
import LofiStar3 from "../media/LofiStar-3.astro"
import Image from "astro/components/Image.astro"
---

<Layout title="Creepy Photos">
  <Section id="intro">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 py-14">
      <div class="text">
        <h1 class="font-creepster lg:max-w-[684px] max-w-[400px] xl:text-7xl lg:text-6xl text-4xl font-bold uppercase text-text leading-snug lg:leading-snug xl:leading-snug text-pretty mb-4 relative">
          <div class="absolute -top-12 right-0">
            <div class="relative">
              <Ghost />
              <LofiStar class="-top-10 right-0" />
              <LofiStar2 class="bottom-0 -left-10" />
              <LofiStar3 class="-bottom-4 -right-10" />
            </div>
          </div>
          ¡Dale un toque <span class="text-accent">espeluznante</span>  a tus fotos!🎃
        </h1>
        <p class="text-text font-light tracking-wide leading-normal text-pretty max-w-[450px] mb-7">Puedes convertirte en un zombie, fantasma o lo que quieras!Además puedes elegir fondos temáticos de Halloween. ¡Sencillo, rápido y muy divertido!</p>
        <a href="/subir" class="group font-creepster inline-flex gap-4 items-center justify-center py-3 px-5 bg-accent text-bg rounded-full transition-shadow shadow-none hover:shadow-lg hover:shadow-accent/40">
          <p class="text-xl tracking-wider font-bold uppercase">¡Empieza a Disfrazar!</p>
          <LofiSkull class="group-hover:-rotate-6 transition-transform"/>
        </a>
      </div>
      <div class="illustration">
        <Illustration />
      </div>
    </div>
  </Section>
</Layout>

<script>
  import {gsap} from "gsap"

  let tl = gsap.timeline()
  tl.fromTo(".text", {opacity: 0, y: 50}, {opacity: 1,y: 0,ease: "power3.out" ,duration: 1})
  .fromTo(".illustration", {opacity: 0, y: 50}, {opacity: 1, y: 0, duration: 1, ease: "power3.out"}, "-=0.5")

  gsap.to('#ghost', {
    y: 10,
    duration: 1,
    repeat: -1,
    yoyo: true,
    ease: 'none',
  })
  gsap.to('#lofistar', {
    rotate: 10,
    scale: .8,
    ease: 'none',
    repeat: -1,
    yoyo: true,
    duration: 1
  })
  gsap.to('#lofistar-2', {
    rotate: -10,
    scale: .8,
    ease: 'none',
    repeat: -1,
    yoyo: true,
    duration: 1
  })
  gsap.to('#lofistar-3', {
    rotate: 10,
    scale: .8,
    ease: 'none',
    repeat: -1,
    yoyo: true,
    duration: 1
  })
  gsap.to('#star-1',{
    rotation: -20,
    repeat: -1,
    yoyo: true,
    duration: 2,
    repeatDelay: 3
  })
  gsap.to('#star-2',{
    rotation: 20,
    repeat: -1,
    yoyo: true,
    duration: 2,
    repeatDelay: 3

  })
  gsap.to('#star-3',{
    y: -20,
    repeat: -1,
    yoyo: true,
    duration: 2,
    repeatDelay: 3

})
</script>
