<footer class="w-full p-6 flex items-center justify-center">
    <p class="text-text text-center text-opacity-70 text-sm">© 2024 Proyecto de Hackaton con Cloudinary | Hecho con ❤ por <a class="text-accent" href="https://adrianpal.xyz">Adrian Palacios</a> </p>
</footer>