---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../css/main.css';
interface Props {
	title: string;
}
import Web from '../media/WebMedia.astro';
import Web2 from '../media/Webmedia2.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bg relative min-h-screen overflow-hidden">
		<Web class='top-0 left-0' />
		<Header />
		<slot />
		<Footer />
		<Web2 class='-bottom-16 -right-20' />
	</body>
</html>
